In [1]:
import pandas as pd

#Reading csv files
Sessions_Peer = pd.read_csv("sessions_peer_mentoring.csv")
Checkins_Peer = pd.read_csv("check_ins_peer_mentoring.csv")
Sessions = pd.read_csv("sessions.csv")
Checkins = pd.read_csv("check_ins.csv")

In [5]:
### Final dashboard example df

#Union on Tut and Peer to create final df
Final = pd.concat([Tut,Peer], axis=0, ignore_index=True)

#Final df formatted
Final.style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

In [ ]:
#Below is all of the work

In [2]:
# Data manipulation

# Function to describe "kind" for check-ins
def Add_Kind(Table):
    Table['Kind'] = 'Drop-In Tutoring'

# Functions adding comunity and school data fields to describe each community
def Tut_Cntr(Table):
    Table['Community'] = 'Tutoring Center'
    Table['School'] = 'CSU Penji'

def Peer_Mnt(Table):
    Table['Community'] = 'Peer Mentoring'
    Table['School'] = 'UC Penji'
                 
#Calling Add_Kind function
Add_Kind(Checkins)
Add_Kind(Checkins_Peer)
                 
#Calling Tut_Cntr funciton
Tut_Cntr(Sessions)
Tut_Cntr(Checkins)  
                 
#Calling Peer_Mnt function
Peer_Mnt(Sessions_Peer)
Peer_Mnt(Checkins_Peer)

#Creating Tutoring and Menotring tables
Tutoring_Center = pd.concat([Sessions, Checkins], axis=0, ignore_index=True)
Peer_Mentoring = pd.concat([Sessions_Peer, Checkins_Peer], axis=0, ignore_index=True)

In [3]:
## Tutoring Center analysis "Tut"

#Count of total appiotnemnts (all sessions that are not drop-in tutoring)
df_TutA = Tutoring_Center[Tutoring_Center.Kind != "Drop-In Tutoring"].groupby(["Community","School"])["Community"].count().reset_index(name="Appointments") 

#Count of total drop-in sessions
df_TutB = Tutoring_Center[Tutoring_Center.Kind == "Drop-In Tutoring"].groupby(["Community","School"])["Community"].count().reset_index(name="Drop-in Check-ins")

#Count of total sections (Only avalible for sessions.csv)
df_TutC = Tutoring_Center.groupby(["Community","School"])["Section"].count().reset_index(name="Sections")

#Count of canclled sessions divided by total sessions
df_TutD = ((Tutoring_Center[Tutoring_Center.Status == "Cancelled"].groupby(["Community","School"])["Community"].count()/Tutoring_Center.groupby(["Community","School"])["Community"].count())*100).round().reset_index(name="Sessions - % Absent")

#Merging all sessions Calculations
Tut = df_TutA.merge(df_TutB,how ='inner').merge(df_TutC,how ='inner').merge(df_TutD,how ='inner')

#Final df displaying all relevent metrics
Tut

,Community,School,Appointments,Drop-in Check-ins,Sections,Sessions - % Absent
0,Tutoring Center,CSU Penji,891,388,572,29.0

In [4]:
## Peer Mentoring analysis "Peer"

#Count of total peer appointments (all sessions that are not drop-in tutoring)
df_PerA = Peer_Mentoring[Peer_Mentoring.Kind != "Drop-In Tutoring"].groupby(["Community","School"])["Community"].count().reset_index(name="Appointments") 

#Count of total peer drop-in sessions
df_PerB = Peer_Mentoring[Peer_Mentoring.Kind == "Drop-In Tutoring"].groupby(["Community","School"])["Community"].count().reset_index(name="Drop-in Check-ins")

#Count of total sections (Only avalible for sessions_peer_mentoring.csv)
df_PerC = Peer_Mentoring.groupby(["Community","School"])["Section"].count().reset_index(name="Sections")

#Count of canclled peer sessions divided by total peer sessions
df_PerD = ((Peer_Mentoring[Peer_Mentoring.Status == "Cancelled"].groupby(["Community","School"])["Community"].count()/Peer_Mentoring.groupby(["Community","School"])["Community"].count())*100).round().reset_index(name="Sessions - % Absent")

#Merging all sessions Calculations
Peer = df_PerA.merge(df_PerB,how ='inner').merge(df_PerC,how ='inner').merge(df_PerD,how ='inner')

#Final df displaying all peer mentoring metrics
Peer

,Community,School,Appointments,Drop-in Check-ins,Sections,Sessions - % Absent
0,Peer Mentoring,UC Penji,104,43,43,31.0