In [2]:
#Importing Pandas
import pandas as pd

#Reading CSV
Checkins = pd.read_csv("check_ins.csv")

In [3]:
# Data manipulaiton

# Field names changed to be more descriptive
Checkins.rename(columns = {'Kind':'Session Type','Location':'Community'}, inplace = True)

#Adding Kind field as "Drop-In Tutoring" to describe all data records
Checkins['Session Type'] = 'Drop-In Tutoring'

#Creating Checkins_df to work with most relevent columns for specific analysis
#Includes relevent date and duration data
Checkins_df = Checkins[["Check In At Date","Community","Status", "Session Type", "Course", "Student Email","Student Name","Started At Date", "Started At Time", "Ended At Date", "Ended At Time", "Duration Minutes"]]

In [4]:
#First df - Count of total drop-ins by community (Location) W/ % of total

#Calculating count of drop-in sessions by Community
Checkins_Cnt_Com = Checkins_df.groupby(["Community"])["Community"].count().reset_index(name="Total Drop-Ins").sort_values(by='Total Drop-Ins', ascending=False).reset_index(drop=True)

#Calculating percent of total for Session Count by Community
Checkins_Cnt_Com['Drop-Ins_Pct'] = ((Checkins_Cnt_Com['Total Drop-Ins']/Checkins_Cnt_Com['Total Drop-Ins'].sum())*100).round(0)

#Formatting Checkins_Cnt_Com
Chk_Cnt_Com = Checkins_Cnt_Com.style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

#Final - total drop-in Sessions tally by Community W/ % of total
Chk_Cnt_Com

In [5]:
#Second df - Count of total drop-in sessions by status W/ % of total

#Calculating total count of drop-in sessions by Status
Checkins_Cnt_Stat = Checkins_df.groupby(["Status"])["Status"].count().reset_index(name="Total Drop-Ins").sort_values(by='Total Drop-Ins', ascending=False).reset_index(drop=True)

#Calculating % of total for drop-in sessions by status
Checkins_Cnt_Stat['Drop-Ins_Pct'] = ((Checkins_Cnt_Stat['Total Drop-Ins']/Checkins_Cnt_Stat['Total Drop-Ins'].sum())*100).round(0)

#Formatting Checkins_Cnt_Com
Chk_Cnt_Stat = Checkins_Cnt_Stat.style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

#Displays Count of total drop-in sessions by status W/ % of total
Chk_Cnt_Stat

In [6]:
# Third df - Total count of drop-in sessions by course W/ % of total

#Calculating count of drop-in sessions by course
Checkins_Cnt_Cor = Checkins_df.groupby(["Course"])["Course"].count().reset_index(name="Total Drop-Ins").sort_values(by='Total Drop-Ins', ascending=False).reset_index(drop=True)

#Calculating % of total for drop-in sessions by Course
Checkins_Cnt_Cor['Drop-Ins_Pct'] = ((Checkins_Cnt_Cor['Total Drop-Ins']/Checkins_Cnt_Cor['Total Drop-Ins'].sum())*100).round(0)

#Formatting Checkins_Cnt_Com
Chk_Cnt_Cor = Checkins_Cnt_Cor.style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

#Total cout of tutoring sessions by Course W/ % of total
Chk_Cnt_Cor

In [7]:
#Fourth df - Top 10 count of drop-in sessions by community and status

#Calculating count of tutoring sessions by Community and Status
Checkins_Com_Stat = Checkins_df.groupby(["Community","Status"])["Community"].count().reset_index(name="Total Drop-Ins").sort_values(by='Total Drop-Ins', ascending=False).reset_index(drop=True)

#Calculating percent of total for Session Count by Community and Status
Checkins_Com_Stat['Drop-Ins_Pct'] = ((Checkins_Com_Stat['Total Drop-Ins']/Checkins_Com_Stat['Total Drop-Ins'].sum())*100).round(0)

#Formatting Checkins_Cnt_Com
Chk_Com_Stat = Checkins_Com_Stat.head(10).style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

#  Top 10 count of drop-in sessions by community and status
Chk_Com_Stat