In [1]:
#Importing Pandas
import pandas as pd

#Reading CSV files
Checkins = pd.read_csv("check_ins.csv")
Sessions = pd.read_csv("sessions.csv")

In [2]:
# Data manipulation

# Field names changed to be more descriptive
Checkins.rename(columns = {'Kind':'Session Type','Location':'Community'}, inplace = True)
Sessions.rename(columns = {'Kind':'Session Type','Location':'Community'}, inplace = True)

#Adding Kind field as "Drop-In Tutoring" to describe all data records
Checkins['Session Type'] = 'Drop-In Tutoring'

# Adding Month and Year data fields to extract specific date data
Sessions['Started_At_Year'] = pd.DatetimeIndex(Sessions['Started At Date']).year
Sessions['Started_At_Month'] = pd.DatetimeIndex(Sessions['Started At Date']).month
Checkins['Started_At_Year'] = pd.DatetimeIndex(Checkins['Started At Date']).year
Checkins['Started_At_Month'] = pd.DatetimeIndex(Checkins['Started At Date']).month

In [3]:
# Creating Union between sessions.csv and check_ins.csv

#Creating smaller tables with extracted date parts
Checkins_Date_df = Checkins[["Check In At Date","Community","Status", "Session Type", "Course", "Student Email","Student Name","Started At Date", "Started At Time", "Ended At Date", "Ended At Time", "Duration Minutes","Started_At_Year","Started_At_Month"]]
Sessions_Date_df = Sessions[["Requested At Date","Community","Status", "Session Type", "Course", "Student Email","Student Name","Started At Date", "Started At Time", "Ended At Date", "Ended At Time", "Tutor Submitted Length","Started_At_Year","Started_At_Month"]]

#Defining tables to preform concat function
Date_df1 = Checkins_Date_df[["Community","Status", "Session Type", "Course", "Student Email","Student Name","Started At Date", "Started At Time", "Ended At Date", "Ended At Time", "Started_At_Year","Started_At_Month"]]
Date_df2 = Sessions_Date_df[["Community","Status", "Session Type", "Course", "Student Email","Student Name","Started At Date", "Started At Time", "Ended At Date", "Ended At Time", "Started_At_Year","Started_At_Month"]]

#Union between Date_df1 and Date_df2
All_Dates_df = pd.concat([Date_df1,Date_df2], ignore_index = True)

In [4]:
# First df - Top 10 count of total Tutoting sessions by community 

#Calculating count of tutoring sessions by Community
All_Cnt_Com = All_Dates_df.groupby(["Community"])["Community"].count().reset_index(name="Total Tutoring Sessions").sort_values(by='Total Tutoring Sessions', ascending=False).reset_index(drop=True)

#Calculating percent of total for Session Count by Community
All_Cnt_Com['Session_Pct'] = ((All_Cnt_Com['Total Tutoring Sessions']/All_Cnt_Com['Total Tutoring Sessions'].sum())*100).round(0)

#Formatting All_Cnt_Com
All_Cnt_Com = All_Cnt_Com.head(10).style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

#Top 10 Communities by count of tutoring sessions W/ % of total
All_Cnt_Com

In [5]:
# Second df - count of total Tutoting sessions by session type

#Calculating count of tutoring sessions by Session Type
All_Cnt_Typ = All_Dates_df.groupby(["Session Type"])["Session Type"].count().reset_index(name="Total Tutoring Sessions").sort_values(by='Total Tutoring Sessions', ascending=False).reset_index(drop=True)

#Calculating percent of total for Session Count by Session Type
All_Cnt_Typ['Session_Pct'] = ((All_Cnt_Typ['Total Tutoring Sessions']/All_Cnt_Typ['Total Tutoring Sessions'].sum())*100).round(0)

#Formatting All_Cnt_Typ
All_Cnt_Typ = All_Cnt_Typ.head(10).style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

#Total tutoring sessions (for both datasets) by Session Type (Kind) W/ % of total
All_Cnt_Typ

In [6]:
# Third df - Top 10 Count of drop-in sessions by community and status W/ % of total

#Calculating tutoring session Count grouped by Community Partittion on Status 
df_Cm_Stat = All_Dates_df.groupby(["Community","Status"])["Community"].count().reset_index(name="Total Tutoring sessions").sort_values(by='Total Tutoring sessions', ascending=False).reset_index(drop=True)

#Calculating percent of total for Session Count by Community Partittion on Status 
df_Cm_Stat['Session_Pct'] = ((df_Cm_Stat['Total Tutoring sessions']/df_Cm_Stat['Total Tutoring sessions'].sum())*100).round(0)

#Formatting df_LS
All_Cm_Sat = df_Cm_Stat.head(10).style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

#Top 10 Count of drop-in sessions by community and status W/ % of total
All_Cm_Sat

In [8]:
# Fourth df - Top 10 Count of drop-in sessions by community, session type, and status W/ % of total

#Calculating tutoring session Count grouped by Community Partittion on Session Type and Status 
All_Typ_Stat =  All_Dates_df.groupby(["Community","Session Type","Status"])["Community"].count().reset_index(name="Total Tutoring sessions").sort_values(by='Total Tutoring sessions', ascending=False).reset_index(drop=True)

#Calculating percent of total for Session Count by Community Partittion on Session Type and Status 
All_Typ_Stat['Session_Pct'] = ((All_Typ_Stat['Total Tutoring sessions']/All_Typ_Stat['Total Tutoring sessions'].sum())*100).round(0)

#Formatting df_LS
Cnt_Typ_stat = All_Typ_Stat.head(10).style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

#Top 10 Count of drop-in sessions by community, session type, and status W/ % of total
Cnt_Typ_stat

In [9]:
#Fifth df - Total count of completed tutoring sessions  grouped by status, year, and month W/ % of total

# Count of total tutoring sesions grouped by status, month, and year
df_Mth_Cnt = All_Dates_df.groupby(["Started_At_Year","Started_At_Month","Status"])["Status"].count().reset_index(name="Total Appointments").sort_values(['Started_At_Year','Started_At_Month']).reset_index(drop=True).round({'Started_At_Year': 0, 'Started_At_Month': 0})

#Formatting df_Typ_St filtering Count of total tutoring sesions by "completed" status
df_Mth_Cnt_Cmplt = df_Mth_Cnt[df_Mth_Cnt.Status == "Completed"].reset_index(drop=True).round({'Started_At_Year':0, 'Started_At_Month': 0}).style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

#Total count of completed tutoring sessions grouped by date and status W/ % of total
df_Mth_Cnt_Cmplt

In [10]:
#Sixth df - Total count of Check-in tutoring sessions grouped by status, year, and month W/ % of total

#Formatting df_Typ_St and filtering Count of total tutoring sesions by "Check in" status
df_Mth_Cnt_Chk = df_Mth_Cnt[df_Mth_Cnt.Status == "Check In"].reset_index(drop=True).round({'Started_At_Year':0, 'Started_At_Month': 0}).style.set_properties(**{'text-align': 'left'}).set_table_styles(
[dict(selector = 'th', props=[('text-align', 'left')])])

df_Mth_Cnt_Chk